<section class="container-fluid">
    <div class="d-flex flex-row" id="help">
        <div class="col-12">
            <div class="list-group">
                {% for item in node.children %}
                <div class="list-group-item {{item.theme}}">
                    <div class="d-flex flex-row">
                        <h3 class="col-10">{{item.title|safe}}</h3>
                        <button aria-controls="help{{item.name}}" aria-expanded="true" class="btn btn-link ml-auto"
                                data-target="#help{{item.name}}"
                                data-toggle="collapse" type="button">
                            <span class="fa fa-arrow-down fa-2x"></span>
                        </button>
                    </div>
                    <div aria-labelledby="help{{item.name}}" class="collapse" data-parent="#help"
                         id="help{{item.name}}">
                        <div class="d-flex flex-column m-1 p-1">
                            {% if 'subtitle' in item %}
                            <div class="text-left">{{item.subtitle|md|safe}}</div>
                            {% endif %}
                            {% if 'metas' in item %}
                            {% if 'category' in item.metas %}
                            <div class="lead">{{item.metas.category|md|safe}}</div>
                            {% endif %}
                            {% if 'image_url' in item.metas %}
                            <img class="img-fluid mb-3 mx-auto" src="{{item.metas.image_url|e|e}}">
                            {% endif %}
                            {% endif %}
                            {% for para in item.contents %}
                            <div class="text-left">{{para|md|safe}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>