<section class="container-fluid py-5">
    <div class="row d-flex flex-wrap">
        {% for item in node.children %}
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card {{item.theme}} text-center p-2 m-2">
                <h2>{{item.category}}</h2>
                <h3>{{item.title|e|e}}</h3>
                {% if 'metas' in item %}
                {% if 'category' in item.metas %}
                <div class="lead">{{item.metas.category|md|safe}}</div>
                {% endif %}
                {% if 'image_url' in item.metas %}
                <img class="img-fluid d-block" src="{{item.metas.image_url|e|e}}">
                {% endif %}
                {% endif %}
                <h5>{{item.subtitle|e|e}}</h5>
                {% for para in item.contents %}
                <div class="text-justify">{{para|md|safe}}</div>
                {% endfor %}
                {% if 'metas' in item %}
                {% if 'action_url' in item.metas and 'action_key' in item.metas %}
                <div class="text-right">
                    <a class="btn btn-primary" href="{{item.metas.action_url|e|e}}">{{item.metas.action_key|e|e}}</a>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>