<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <br/>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for cat, msg in messages %}
            <div class="alert alert-{{cat|e|e}} alert-dismissible fade show" role="alert">
                <div>{{ msg|md|safe }}</div>
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</section>