<section class="container-fluid">
    <div class="d-flex flex-row flex-wrap">
        {% for item in node.children %}
        <div class="col-12 p-2 m-2">
            <div class="card {{item.theme}}">
                <div class="card-header">
                    <h3 class="col-10">{{item.title|safe}}</h3>
                </div>
                <div class="card-body">
                    {% if 'subtitle' in item %}
                    <div class="text-left">{{item.subtitle|md|safe}}</div>
                    {% endif %}
                    {% if 'metas' in item %}
                    {% if 'category' in item.metas %}
                    <div class="lead">{{item.metas.category|md|safe}}</div>
                    {% endif %}
                    {% if 'image_url' in item.metas %}
                    <img class="img-fluid mb-3 mx-auto" src="{{item.metas.image_url|e|e}}">
                    {% endif %}
                    {% endif %}
                    {% for para in item.contents %}
                    <div class="text-left">{{para|md|safe}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>