{% if cookies_check() %}
{# then user has already consented so no requirement for consent banner #}
{% else %}
{# show a cookie consent banner #}
<div id="cookie-consent-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="alert alert-consent m-0" style="border-radius: 0px">
                    <h4 class="alert-heading">{{ cms_meta('cookies_consent_title') }}</h4>
                    <p class="text-justify">{{ cms_meta('cookies_consent_description')|md|safe }}</p>
                    <p class="mb-0 text-justify">{{ cms_meta('cookies_consent_agreements') }}</p>
                    <div class="row justify-content-between m-2">
                        <button class="btn btn-success"
                                id="cookie-consent-agree">{{ cms_meta('cookies_consent_agree_label') }}
                        </button>
                        <span>&nbsp;</span>
                        <button class="btn btn-danger"
                                id="cookie-consent-reject">{{ cms_meta('cookies_consent_reject_label') }}
                        </button>
                        <span>&nbsp;</span>
                        <a class="btn btn-warning ml-auto"
                           href="{{cms_meta('cookies_consent_options_link')}}" id="cookie-consent-options">
                            {{cms_meta('cookies_consent_options_label')}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var fn1 = function () {
        document.cookie = "cookie_consent=true";
        document.getElementById('cookie-consent-container').hidden = true;
    };
    document.getElementById('cookie-consent-agree').onclick = fn1;

    var fn2 = function () {
        document.cookie = "cookie_consent=false";
        document.getElementById('cookie-consent-container').hidden = true;
    };
    document.getElementById('cookie-consent-reject').onclick = fn2;


</script>
{% endif %}
