<section class="container-fluid py-3 text-center">
    <div class="row justify-content-center flex-wrap">
        {% for item in node.children %}
        <div class="col-sm-12 col-md-6 col-lg-3 p-4">
            <div class="d-flex flex-row">
                <div class="col-3">
                    {% if 'metas' in item %}
                    {% if 'category' in item.metas %}
                    <h3>{{item.metas.category|md|safe}}</h3>
                    {% endif %}
                    {% if 'image_url' in item.metas %}
                    <img class="img-fluid d-block mr-auto" src="{{item.metas.image_url|e|e}}">
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-9">
                    <h4>{{item.title}}</h4>
                    <h5 class="text-left">{{item.subtitle|md|safe}}</h5>
                </div>
            </div>
            {% for para in item.contents %}
            <div class="text-left">{{para|md|safe}}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>