<div class="container-fluid py-4 navbar-footer">
    {% block navbar_info %}
    <div class="row">
        <nav class="col-12">
            {% set info_menu = cms_menu('info') %}
            {% if info_menu is defined %}
            <ul class="nav nav-pills nav-fill">
                {% for menu in info_menu.children %}
                {% if menu is defined %}
                {% set item = cms_link(menu.name) %}
                {% if item is defined %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if page.path == item.path  else '' }} text-white"
                       href="{{item.path|e|e}}">
                        <span class="{{item.icon|e|e}}"></span>
                        {{item.text|e|e}}
                    </a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endblock %}
    {% block navbar_prod %}
    {% set site = cms_site() %}
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-between text-center">
            <div class="mr-auto text-md-left m-2">
                {% if 'product' in site and 'version' in site %}
                <h6>{{site.product|e|e}}&nbsp;{{site.version|e|e}}</h6>
                {% endif %}
            </div>
            <div class="ml-auto text-md-right m-2">
                {% if 'license' in site %}
                <h6>2011-{{ current_time.year }}&nbsp;&copy;&nbsp;{{site.authors|e|e}}&nbsp;</h6>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <center>
                <small>https://{{ g.web_host }} licensed under {{site.license|e|e}}</small>
            </center>
            <center>
                <small>Client : {{ g.remote_addr }}, Language : {{ g.accept_language.split('-')[0] }}</small>
            </center>
        </div>
    </div>
</div>
{% endblock %}
</div>
