<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                {% for item in routes %}
                <div class="list-group-item d-flex flex-column">
                    <a class="btn btn-outline-info col-4" href="{{ item.url }}">
                        <strong>{{ item.endpoint }}</strong>
                    </a>
                    <p class="col-8">{{ item.url }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>