<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex md-row text-center my-2">
                {% if page.metas %}
                {% if page.metas.icon %}
                <span class="{{page.metas.icon|e|e}} fa-2x"></span>
                {% endif %}
                {% endif %}
                <h2 class="col text-center">{{page.title}}</h2>
            </div>
            <div class="mb-0">{{page.subtitle|md|safe}}</div>
            <hr/>
        </div>
    </div>
</section>
