<div class="py-2 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul class="nav nav-pills">
                    {% for info in site.data.infos %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{info.link}}">{{ info.name | escape }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm text-right">
                <h5>{{ site.title | escape }}</h5>
                <h6>{{ site.description | escape }}</h6>
            </div>
        </div>
    </div>
</div>